body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  gap: 10px;
}

#menu-wrapper {
  display: flex; 
  align-items: stretch;
  flex: 1;
  gap: 25px;
  overflow: clip;
}

/* Stats Section */

#menu-stats {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

#stats-latest {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stat-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#latest-widget {
  background-color: #6F4699;
  border-radius: 15px;
  padding: 20px 40px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

#widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: normal;
  }
}

#widget-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  canvas {
    border-radius: 10px;
  }
}

#stats-sessions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  thead {
    height: 30px;
    color: var(--accent-colour);
  }
  tbody {
    height: 120px;
    overflow-y: auto;
  };
}

/* Profile Section */

#menu-profile {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 100px 0px;

  background: var(--container-colour);
  box-shadow: #00000033 0px 0px 10px;
  border-radius: 10px;

}

#profile-nameplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  #profile-name {
    font-size: 15px;
  };
  
  #profile-nickname {
    font-size: 12px;
    color: var(--accent-colour)
  };
}

.deets-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  #deets-title {
    color: var(--accent-colour);
    width: 86px;
  }
}

#start-btn {
  text-align: center;
  width: 200px;
}

.colour-accent {
  color: #888888;
}

#header {
  font-weight: bold;
  font-size: 48px;
}

#dash-header > * {
  margin-bottom: 10px;
}


#menu-seq-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sequence-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  /* justify-content: space-around; */
}

.sequence-card {
  cursor: pointer;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: var(--container-colour);
  box-shadow: #3333 0px 2px 15px;
  p {
    font-size: 14px;
  }
}

.sequence-thumb {
  background-color: #0003;
  border-radius: 10px;  
}

.proficiency-indicator {
  height: 20px;
  width: auto;
  color: var(--main-colour);
  border-radius: 10px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.proficiency-indicator[proficiency="beginner"] {
  background-color: green;
}
.proficiency-indicator[proficiency="intermediate"] {
  background-color: orange;
}
.proficiency-indicator[proficiency="advanced"] {
  background-color: orangered;
}

#menu-seq-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#info-header {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 8px;
  h3 {
    margin: 0px;
  }
}

#info-recommendations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#info-latest-best {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  /* border: 1px solid #aaa; */
  border-radius: 20px;
  background: linear-gradient(106deg,#4443 0%, #4441 100%);
  text-align: center;
  h3 {
    color: var(--main-colour);
    font-size: 40px;
    margin: 0px;
  }
}

#info-scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  thead {
    color: var(--accent-colour);
  }
  th {
    text-align: left;
  }
}

#info-startbtn {
  width: 180px;
  border-radius: 10px;
  border: 0px;
  background-color: #171717;
  box-shadow: #8D8D8D12 0px 0px 10px;
  transition: background-color 0.3s linear;
  color: var(--main-colour);
  font-size: 15px;
  padding: 12px 40px;
  cursor: pointer;
}
#info-startbtn:hover {
  background-color: #1a1a1a;
}