:root {
  --dropdown-background: #1a1a1a;
  --dropdown-text-color: #fff;
  --dropdown-hover-color: #212121;
  --dropdown-border-color: #555;
  --dropdown-border-radius: 0.25em;
  --dropdown-icon-color: #fff;
}

body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#main-content {
  display: flex;
  padding: 40px;
  width: 100%;
  gap: 10px;
}

#menu-wrapper {
  display: flex; 
  align-items: stretch;
  flex: 1;
  gap: 25px;
}

/* Stats Section */

#menu-stats {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  justify-content: space-evenly;
}

#stats-latest {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.stat-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

#latest-widget {
  cursor: pointer;
  background-color: #6F4699;
  border-radius: 15px;
  padding: 20px 40px;
  gap: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.1s ease, rotate 0.5s ease, transform 0.2s ease;
  rotate: 0deg;
}
#latest-widget:hover {
  background-color: #804eb1;
  box-shadow: #5555 0px 0px 10px;
  rotate: 0.5deg;
  transform: scale(1.02, 1.02);
}

#widget-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-weight: normal;
  }
}

#widget-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  canvas {
    border-radius: 10px;
  }
}

#stats-sessions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  thead {
    height: 30px;
    color: var(--accent-colour);
  }
  tbody {
    height: 120px;
    overflow-y: auto;
  };
}

/* Profile Section */

#menu-profile {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 100px 0px;

  background: var(--container-colour);
  box-shadow: #00000033 0px 0px 10px;
  border-radius: 10px;

}

#profile-nameplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  #profile-name {
    font-size: 15px;
  };
  
  #profile-nickname {
    font-size: 12px;
    color: var(--accent-colour)
  };
}

.deets-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  #deets-title {
    color: var(--accent-colour);
    width: 86px;
  }
}

#start-btn {
  text-align: center;
  width: 200px;
}

#header {
  font-weight: bold;
  font-size: 48px;
}

#dash-header > * {
  margin-bottom: 10px;
}


#menu-seq-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sequence-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}

.sequence-card {
  cursor: pointer;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 300px;
  padding: 15px;
  border: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  background-color: var(--container-colour);
  box-shadow: #3333 0px 2px 15px;
  rotate: 0deg;
  transition: background-color 0.15s ease, rotate 0.5s ease, transform 0.1s ease;
  text-align: left;
  p {
    font-size: 14px;
  }
}
.sequence-card:hover {
  background: #3332;
}
.sequence-card[select="true"] {
  background-color: #1118;
  box-shadow: inset #ab9f8a55 0px 0px 10px;
  rotate: 2deg;
  transform: scale(0.95, 0.95);
}

.sequence-thumb {
  background-color: #0003;
  border-radius: 10px;
  width: -webkit-fill-available;
}

#menu-seq-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#info-header {
  display: flex;
  flex-direction: column;
  height: max-content;
  align-self: baseline;
  gap: 8px;
  h3 {
    margin: 0px;
  }
}

#info-recommendations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#info-latest-best {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(106deg,#4443 0%, #4441 100%);
  text-align: center;
  h3 {
    color: var(--main-colour);
    font-size: 40px;
    margin: 0px;
  }
}

#info-scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  thead {
    color: var(--accent-colour);
  }
}

#info-startbtn {
  width: 180px;
  border-radius: 10px;
  border: 0px;
  background-color: #171717;
  box-shadow: #8D8D8D12 0px 0px 10px;
  transition: background-color 0.3s linear;
  color: var(--main-colour);
  font-size: 15px;
  padding: 12px 40px;
  cursor: pointer;
  text-align: center;
}

#info-startbtn:hover {
  background-color: #1a1a1a;
}

/* SCORES PAGE */
#scores-maincontent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#score-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 10px;
  justify-content: space-between;
}

#score-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

#score-widget {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.score-widget-score {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.score-widget-canvas {
  width: 150px;
  height: 150px;
}

#graph-widget {
  /* background-color: #3333; */
  /* height: 100%; */
}

.custom-select select {
  appearance: none;
  width: 100%;
  border: #333 solid 1px;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  background-color: var(--dropdown-background);
  border-radius: var(--dropdown-border-radius);
  color: var(--dropdown-text-color);
  border: 1px solid var(--dropdown-border-color);
  transition: background-color 0.1s linear;
}

.custom-select select:hover {
  background-color: var(--dropdown-hover-color);
}

.custom-select::before {
  border-bottom: var(--size) solid var(--dropdown-icon-color)
}

.custom-select::after {
  border-top: var(--size) solid var(--dropdown-icon-color);
}