body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#main-content {
  padding: 40px;
  width: 100%;
}

#start-btn {
  text-align: center;
  width: 200px;
}

.colour-accent {
  color: #888888;
}

#header {
  font-weight: bold;
  font-size: 48px;
}

#dash-header > * {
  margin-bottom: 10px;
}