body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  /* border: #0ad 2px solid; */
  overflow: hidden;
}

#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav-spacer {
  flex-grow: 3;
}

#main-content {
  padding: 20px;
}

#start-btn {
  text-align: center;
  width: 200px;
}
