body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  /* border: #0ad 2px solid; */
  overflow: hidden;
}

#main-content {
  padding: 20px;
}

#start-btn {
  text-align: center;
  width: 200px;
}