@font-face {
  font-family: 'WorkSans';
  src: url('./media/WorkSans.ttf');
}

:root {
  --main-padding: 5px;
  --main-bg-colour: #161616ff;
  --container-colour: radial-gradient(circle at 0% 100%, #311E3603 0%, #311E3602 13%, rgba(22, 22, 22, 1) 75%);;
  --container-margin: 5px;
  --container-border: #444 1px solid;
  color: #e5e5e5;
  background: var(--main-bg-colour);
  font-family: 'WorkSans';
  user-select: none;
}
h1 {
  margin: 0px;
}
p {
  margin: 0;
}

#app-title-bar {
  min-height: 21px;
  max-height: 21px;
  min-width: 100dvw;

  position: fixed;
  border-bottom: #262626 1px solid;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #232323;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app-draggable {
  -webkit-app-region: drag;
  width: 100%;
}

#app-title-bar h5 {
  margin: 0px 0px 0px 10px;
  font-weight: 400;
  color: #555;
}

#app-trafficlights {
  padding: 0px;
  min-height: 20px;
  max-height: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.app-trafficlight {
  min-height: inherit;
  max-height: inherit;
  min-width: 30px;
  background: #1a1a1a;
  color: #555;
  font-size: 8px;
  font-weight: bold;
  border: 1px #222 solid;
  border-radius: 2px;
  margin-left: 2px;
} 

.app-trafficlight:hover {
  background: #2f2f2f;
}

.app-trafficlight:active {
  background: #2f2f2f;
}

#app-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  margin: 0px;
  padding: var(--main-padding);
  background: var(--main-bg-colour);
  position: fixed;
  top: 21px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

a {
  color: #0ad
}

.container {
  background: var(--container-colour);
  margin: var(--container-margin);
  border: var(--container-border);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(49, 32, 54, 0.15) 0em 0em 3em inset;
}

#logo {
  font-size: 40px;
  margin: 10px auto 10px auto;
  text-align: center;
}

@property --bg-opacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@keyframes fadeIn {
  25% {--bg-opacity: 0.5}
  100% {--bg-opacity: 1}
}

#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}

#sidenav-btns > *{
  margin: 5px 0px 5px 0px;
}

#sidenav-bottom > *{
  margin: 10px 0px 10px 0px;

}
#sidenav-bottom-btns > * {
  margin: 2px 0px 2px 0px;
}

#sidenav-bottom-accountbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px 0px 12px;
  
  *{
    margin-right: 10px;
  };
}

.sidenav-spacer {
  flex-grow: 3;
}

.sidenav-btn {
  width: 100%;
	padding:12px 40px;

	background: transparent;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	
	font-family: Arial;
	font-size:15px;
  text-align: left;
	text-shadow:0px 1px 0px #263666;
  
  border: 0px solid;
  border-radius: 10px;
  background: rgba(122,62,135,var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,var(--bg-opacity)) 6%, rgba(138,35,56,var(--bg-opacity)) 100%);
  box-shadow: inset 0px 0px 0px 0px #7a3e8700;
  transition: cubic-bezier(0, 0.8, 1, 1) box-shadow 1s;
}
.sidenav-btn:hover {
	box-shadow: inset 30px 0px 80px -50px #7a3e87dd;
}
.sidenav-btn:active {
	position:   relative;
  animation:  0.3s fadeIn 1 forwards;
  transition: linear box-shadow 0.08s;

  background: rgba(122, 62, 135, var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,var(--bg-opacity)) 6%, rgba(138,35,56,var(--bg-opacity)) 100%);
}
.sidenav-btn[highlight="true"] {
	position:   relative;
  font-weight: 700;

  animation:  0.3s fadeIn 1 forwards;
  transition: linear box-shadow 0.08s;
  
  background: rgba(122, 62, 135, var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,0.33) 6%, rgba(138,35,56,0.33) 100%);
  border: #333 1px solid 
}

.menu-btn {
	display: inline-block;
  width: 100%;
	padding:12px 40px;
	cursor: pointer;
	
	color: #ffffff;
  font-family: Arial;
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
  text-align: left;

  border: #555 1px solid;
  border-radius: 10px;

	box-shadow: inset 0px 0px 0px 0px #7a3e8700;
  transition: cubic-bezier(0, 0.8, 1, 1) box-shadow 1s;
  background: linear-gradient(90deg, rgba(122,62,135,0.2) 6%, rgba(138,35,56,0.2) 100%);
}
.menu-btn:hover {
	box-shadow: inset 50px 0px 80px -50px #7a3e87;
}
.menu-btn:active {
	position:   relative;
  animation:  0.3s fadeIn 1 forwards;
  transition: linear box-shadow 0.08s;
  background: rgba(122, 62, 135, var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,var(--bg-opacity)) 6%, rgba(138,35,56,var(--bg-opacity)) 100%);
}