@font-face {
  font-family: 'WorkSans';
  src: url('./assets/WorkSans.ttf');
}

:root {
  --main-padding: 5px;
  --main-colour: #ddd;
  --main-bg-colour: #161616ff;
  --container-colour: radial-gradient(circle at 0% 100%, #311E3603 0%, #311E3602 13%, rgba(22, 22, 22, 1) 75%);;
  --container-border: #444 1px solid;
  --accent-colour: #888;
  color: #e5e5e5;
  background: var(--main-bg-colour);
  font-family: 'WorkSans';
  user-select: none;
}

h1 { margin: 0px; }

hr { border: var(--container-border); }

p {
  font-size: 12px;
  margin: 0;
}

.colour-main {
  color: #ddd;
}

.colour-accent {
  color: #888888;
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background: #1a1a1a; }

::-webkit-scrollbar-thumb:hover { background: #555; }

::-webkit-scrollbar-thumb {
  background: #8884;
  border-radius: 5px;
}


.tableFixHead          { overflow: auto; height: 180px }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; text-align: left; color: var(--accent-colour);}
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background: var(--main-bg-colour); }
tbody tr:nth-child(odd) {
  background-color: #4441;
  color: #fff;
}

#app-title-bar {
  min-height: 21px;
  max-height: 21px;
  min-width: 100dvw;

  position: fixed;
  border-bottom: #262626 1px solid;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #232323;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#app-draggable {
  -webkit-app-region: drag;
  width: 100%;
}

#app-title-bar h5 {
  margin: 0px 0px 0px 10px;
  font-weight: 400;
  color: #555;
}

#app-trafficlights {
  padding: 0px;
  min-height: 20px;
  max-height: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.app-trafficlight {
  min-height: inherit;
  max-height: inherit;
  min-width: 30px;
  background: #1a1a1a;
  color: #555;
  font-size: 8px;
  font-weight: bold;
  border: 1px #222 solid;
  border-radius: 2px;
  margin-left: 2px;
} 

.app-trafficlight:hover {
  background: #2f2f2f;
}

.app-trafficlight:active {
  background: #2f2f2f;
}

#app-content {
  display: flex;
  flex-direction: row;
  gap: 5px;

  margin: 0px;
  padding: var(--main-padding);
  background: var(--main-bg-colour);
  position: fixed;
  top: 21px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

a {
  color: #0ad
}

.container {
  background: var(--container-colour);
  border: var(--container-border);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(49, 32, 54, 0.15) 0em 0em 3em inset;
}

#logo {
  font-size: 40px;
  margin: 10px auto 10px auto;
  text-align: center;
}

@property --bg-opacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@keyframes fadeIn {
  25% {--bg-opacity: 0.5}
  100% {--bg-opacity: 1}
}

#sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  min-width: 160px;
  width: 160px;
}

#sidenav-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidenav-bottom{
  display: flex;
  flex-direction: column;
  gap: 10px;

  hr {
    width: 100%;
  }
}

#sidenav-bottom-btns{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidenav-bottom-accountbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px 0px 12px;
  gap: 10px;
}

.sidenav-spacer {
  flex-grow: 3;
}

.sidenav-btn {
  width: 100%;
	padding:12px 40px;

	background: transparent;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	
	font-family: Arial;
	font-size:15px;
  text-align: left;
	text-shadow:0px 1px 0px #263666;
  
  border: 0px solid;
  border-radius: 10px;
  background: rgba(122,62,135,var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,var(--bg-opacity)) 6%, rgba(138,35,56,var(--bg-opacity)) 100%);
  box-shadow: inset 0px 0px 0px 0px #7a3e8700;
  transition: cubic-bezier(0, 0.8, 1, 1) box-shadow 1s;
}
.sidenav-btn:hover {
	box-shadow: inset 30px 0px 80px -50px #7a3e87dd;
}
.sidenav-btn:active {
	position:   relative;
  animation:  0.3s fadeIn 1 forwards;
  transition: linear box-shadow 0.08s;

  background: rgba(122, 62, 135, var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,var(--bg-opacity)) 6%, rgba(138,35,56,var(--bg-opacity)) 100%);
}
.sidenav-btn[highlight="true"] {
	position:   relative;
  font-weight: 700;

  animation:  0.3s fadeIn 1 forwards;
  transition: linear box-shadow 0.08s;
  
  background: rgba(122, 62, 135, var(--bg-opacity));
  background: linear-gradient(90deg, rgba(122,62,135,0.33) 6%, rgba(138,35,56,0.33) 100%);
  border: #333 1px solid 
}

.proficiency-indicator {
  height: 20px;
  width: auto;
  color: var(--main-colour);
  border-radius: 10px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.proficiency-indicator[proficiency="beginner"] {
  background-color: green;
}
.proficiency-indicator[proficiency="intermediate"] {
  background-color: orange;
}
.proficiency-indicator[proficiency="advanced"] {
  background-color: orangered;
}

.menu-btn {
  width: 180px;
  border-radius: 10px;
  border: 0px;
  background-color: #171717;
  box-shadow: #8D8D8D12 0px 0px 10px;
  transition: background-color 0.3s linear;
  color: var(--main-colour);
  font-size: 15px;
  padding: 12px 40px;
  cursor: pointer;
  text-align: center;
}

.menu-btn:hover {
  background-color: #1a1a1a;
}